.square {
    aspect-ratio: 1/1;
    width: 95%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    user-select: none;
}
.square-text {
    display: none;
    color: red;
}
.square-show {
    display: block;
}
