.App {
    text-align: center;
}

.records {
    border: 4px solid royalblue;
    width: min(80vw, 1000px);
    margin: 2rem auto;
    padding: 0.5rem 2rem;
}
.records-title{
  margin-top: 0.5rem;
}
.stat {
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
}
.count {
    font-weight: bold;
}
.new-game {
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: royalblue;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.6rem;
    transition: 0.2s;
}
.new-game:hover {
    background-color: coral;
    cursor: pointer;
}
.info {
    margin-bottom: 0.6rem;
}
.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    margin-bottom: 1rem;
}
.first-game {
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: royalblue;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: 0.1s;
}
.first-game:hover {
    background-color: coral;
    cursor: pointer;
}
.clear-button {
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: grey;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: 0.1s;
    margin-bottom: 1rem;
}
.clear-button:hover {
    background-color: red;
    cursor: pointer;
}
